* {

    padding: 0;

    margin: 0;

    font-size: 50px;

}

.flex-container {

    border: 3px solid black;
    height: 500px;

    width: 1000px;

    /* FLEXBOX */

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;


}

.flex-item {

    border: 2px solid green;

    text-align: center;
    line-height: 200px;
    flex-basis: 170px;
    flex-shrink: 0;
    flex-grow: 0;

}

.a {
    background-color: yellow;
}

.b {
    background-color: red;
}

.c {
    background-color: blue;
}

.d {
    background-color: purple;
}

.e {
    background-color: yellow;
}

.f {
    background-color: red;
}

.g {
    background-color: blue;
}

.h {
    background-color: purple;
}

.i {
    background-color: yellow;
}

.j {
    background-color: red;
}