* {

    padding: 0;

    margin: 0;

    font-size: 50px;

}

.flex-container {

    border: 3px solid black;
    height: 500px;
    width: 496px;



    /* FLEXBOX */

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: none space-between;



}

.flex-item {

    border: 2px solid green;
    justify-content: center;
    text-align: center;



}

.--1 {
    background-color: yellow;
    flex-basis: 70px;
}

.--2 {
    background-color: red;
    flex-basis: 70px;
}

.--3 {
    background-color: blue;
    flex-basis: 270px;
}

.--4 {
    background-color: purple;
    flex-basis: 70px;
}