* {

    padding: 0;

    margin: 0;

    font-size: 50px;

}

.flex-container {

    border: 3px solid black;
    height: 500px;

    width: 175px;

    /* FLEXBOX */

    display: flex;

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: center;


}

.flex-item {

    border: 2px solid green;

    text-align: center;
    flex-basis: 170px;
   

}

.--1 {
    background-color: yellow;
    width: 250px;
    height:  46px;
}

.--2 {
    background-color: red;
    width: 200px;
    height:  46px;
}

.--3{
    background-color: blue;
    width: 200px;
    height:  46px;
}

.--4 {
    background-color: purple;
    width: 200px;
    height:  40px;
}

.--5 {
    background-color: yellow;
    width: 200px;
    height:  46px;
}

.--6 {
    background-color: red;
    width: 200px;
    height:  46px;
}

.--7 {
    background-color: blue;
    width: 200px;
    height:  46px;
}

.--8 {
    background-color: purple;
    width: 200px;
    height:  46px;
}

.--9 {
    background-color: yellow;
    width: 200px;
    height:  46px;
}

.--10 {
    background-color: red;
    width: 200px;
    height:  46px;
}