body{
    font-size: 15px;
    min-height: 100vh;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5,50px);
    grid-template-rows: repeat(9, 30px);
    border: black solid 2px;
    width: 330px;
    column-gap: 20px;
    row-gap: 20px;
}

.grid-items{
    display: grid;
    justify-items: center;
    align-items: center;
    
    
}

.grid-item--0{
    border: solid 2px;
    background-color:rgb(184, 164, 147);
    grid-column: 1 / 3;
    grid-row: 1 / 2;

}

.grid-item--1{
    border: solid 2px;
    background-color:red;
    grid-column: 3 / 4;
    grid-row: 1 / 3;

}

.grid-item--2{
    border: solid 2px;
    background-color: blue;
    grid-column: 4/ 6;
    grid-row: 1 / 2;

}

.grid-item--3{
    border: solid 2px;
    background-color: purple;
    grid-column: 1 /3;
    grid-row: 2 / 7;

}

.grid-item--4{
    border: solid 2px;
    background-color: green;
    grid-column: 4 / 6;
    grid-row: 2 / 3;

}

.grid-item--5{
    border: solid 2px;
    background-color: rgb(162, 162, 199);
    grid-column: 3 /4;
    grid-row: 3 / 5;

}

.grid-item--6{
    border: solid 2px;
    background-color: yellow;
    grid-column: 4 /6;
    grid-row: 3 / 5;
}

.grid-item--7{
    border: solid 2px;
    background-color: rgb(189, 142, 173);
    grid-column: 3 /6;
    grid-row: 5/ 7;

}

.grid-item--8{
    border: solid 2px;
    background-color:red;
    grid-column: 1 / 2;
    grid-row: 7 / 9;

}

.grid-item--9{
    border: solid 2px;
    background-color:blue;
    grid-column: 2 / 3;
    grid-row: 7 / 8;

}

.grid-item--10{
    border: solid 2px;
    background-color:purple;
    grid-column: 3 / 6;
    grid-row: 7/ 10;

}
.grid-item--11{
    border: solid 2px;
    background-color:green;
    grid-column: 2 / 3;
    grid-row: 8 / 9;

}
.grid-item--12{
    border: solid 2px;
    background-color:rgb(135, 135, 173);
    grid-column: 1 / 2;
    grid-row: 9 / 10;

}
.grid-item--13{
    border: solid 2px;
    background-color:yellow;
    grid-column: 2 / 3;
    grid-row: 9 / 10;

}
